<section class="bg-dark" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase" style="color:white";>My Continuing Journey</h2>
        <h3 class="section-subheading text-muted">Clarity of thoughts - Focus on execution</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="<%= asset_path 'about/graduation.jpg'  %>" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Education</h4>
                <h4 class="subheading-italic">Continuous learning</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Web: RubyonRails Html CSS<br>Excel PowerBi<br>Master of Commerce (UNSW)</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="<%= asset_path 'about/2.jpg' %>" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Private Sector</h4>
                <h4 class="subheading-italic">Adding shareholders value</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="<%= asset_path 'about/3.jpg' %>" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Public Sector</h4>
                <h4 class="subheading-italic">Ensuring value for public money</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="<%= asset_path 'about/4.jpg' %>" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Community Service</h4>
                <h4 class="subheading-italic">Contributing time and skills</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part
                <br>Of My
                <br>Journey!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
