<header class="masthead">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To My Site</div>
      <div class="intro-heading">Your Finance and Analytics <br> Business Partner</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
    </div>
  </div>
</header>
